<h1 class="text-center font-28 mt-45 mb-30">その患者さん、<span class="font-34">大動脈弁狭窄症(AS)</span>かもしれません。</h1>
<section class="mb-65 mx-auto d-flex flex-column justify-content-center align-items-center">
  <div class="text-wrapper font-34 text-center px-150 py-30">
    <div> 動悸・息切れ </div>
    <div> 胸の痛み、足のむくみ </div>
    <div> 疲れやすい、めまい </div>
  </div>
  <div class="patient-logo-wrapper position-relative">
    <img class="position-absolute" src="assets/images/man-patient.png" alt="Man patient logo">
    <img class="position-absolute" src="assets/images/woman-patient.png" alt="Man patient logo">
  </div>
</section>
