<section class="my-20">
  <img class="w-100" src="assets/images/patient-mobile.png" alt="Patient Mobile">
  <div class="auscultation-data-window-wrapper p-15">
    <div class="d-flex justify-content-center align-items-center">
      <span></span>
      <h1 class="text-center text-white font-18 mb-0 mx-20">聴診の大切さ</h1>
      <span></span>
    </div>
    <div class="my-20">
      <h1 class="font-28 text-primary text-center">心臓の音聞いていますか？<br>
        まずは音を聞いてみてください。</h1>
    </div>
    <div class="sound-graph-wrapper d-flex align-items-center justify-content-center w-100 row mx-auto">
      <div class="normal-sound-box sound-graph-box d-flex align-items-center py-15 my-20">
        <p class="text-dark font-16 mb-0 mx-10">正常</p>
        <img class="" src="assets/images/normal_sound.png" alt="Normal Sound Graph">
        <a class="mx-10">
          <img src="assets/images/sound-off.png" alt="Sound Off">
        </a>
      </div>
      <div class="stenosis-sound-box sound-graph-box d-flex align-items-center py-20 my-20">
        <p class="text-dark font-16 mb-0 mx-10">大動脈<br>
          弁狭窄症</p>
        <img class="" src="assets/images/stenosis_sound.png" alt="Stenosis Sound Graph">
        <a class="mx-10">
          <img src="assets/images/sound-on.png" alt="Sound Off">
        </a>
      </div>
    </div>
  </div>
</section>
