<section class="pt-60 pb-95">
  <div class="container d-flex justify-content-center">
    <div class="content-wrapper">
      <h3 class="mb-40 text-primary text-center">専門医のいる病院を検索</h3>

      <a class="link-button">心臓の専門医がいる病院を探す</a>
      <div class="mb-65 mt-20">
        <p class="font-16 text-dark mb-0">※株式会社QLifeが運営する病院検索サイトへリンクします。</p>
        <p class="font-16 text-dark mb-0">リンク先のサイトはエドワーズライフサイエンス株式会社が運営するものではありません。</p>
      </div>

      <a class="link-button">介入治療ができる病院を探す</a>

      <h3 class="mb-30 text-primary text-center mt-60 mb-30">
        2020年改訂版 弁膜症治療の<br/>
        ガイドラインが発表されました。</h3>
      <a class="link-button">ガイドライン詳細はこちら</a>
      <div class="mt-20">
        <p class="font-16 text-dark mb-0">※日本循環器学会が運営するサイトへリンクします。</p>
        <p class="font-16 text-dark mb-0">リンク先のサイトはエドワーズライフサイエンス株式会社が運営するものではありません。</p>
      </div>
    </div>
  </div>
</section>
