<section class="my-60 pt-200 pb-100 d-flex flex-column justify-content-between" xmlns="http://www.w3.org/1999/html">
  <div class="container mb-150">
    <div class="row">
      <div class="col-8">
        <h1 class="font-36">
          <span class="text-primary font-40">かかりつけ医</span>の先生方による<br/>
          <span class="text-primary font-40">聴診</span>がAS発見の第一歩です。
        </h1>
      </div>
    </div>
  </div>
  <div class="container graph-wrapper d-flex align-items-center justify-content-center w-100 row mx-auto">
    <div class="col-12 col-lg-6">
      <div class="normal-sound-box sound-graph-box d-flex align-items-center py-5 my-20">
        <p class="text-dark font-16 mb-0 mx-10">正常</p>
        <img class="" src="assets/images/normal_sound.png" alt="Normal Sound Graph">
        <a class="mx-10" href="soundOff:;">
          <img src="assets/images/sound-off.png" alt="Sound Off">
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="stenosis-sound-box sound-graph-box d-flex align-items-center py-5 my-20">
        <p class="text-dark font-16 mb-0 mx-10">大動脈<br>
          弁狭窄症</p>
        <img class="" src="assets/images/stenosis_sound.png" alt="Stenosis Sound Graph">
        <a class="mx-10" href="soundOn:;">
          <img src="assets/images/sound-on.png" alt="Sound Off">
        </a>
      </div>
    </div>
  </div>
</section>
