section {
  background-image: url("/assets/images/patient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    line-height: 53px;
    letter-spacing: 0.665px;
  }

  .graph-wrapper {
    //min-width: 98vw !important;

    .sound-graph-box {
      background: #ffffff70;
      border-radius: 100px;
      border: 2px dashed white;
      width: fit-content;

      p {
        min-width: 65px !important;
      }

      & > img {
        width: 250px;
      }

      button {
        border: none;
        width: fit-content;
        border-radius: 100px;
        background: transparent;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {

}
