<h1 class="text-primary text-center mx-auto my-20 font-26 pt-20">取扱医療機関一覧</h1>
<section class="p-15">
  <div class="d-flex justify-content-between align-items-center p-15">
    <h1 class="font-18 text-dark font-weight-lighter mb-0">北関東・甲信</h1>
    <a href="javascript:;">
      <img src="assets/images/extend-icon.png" alt="Extend Icon">
    </a>
  </div>
  <div class="institution-container my-20">
    <div class="p-15">
      <h1 class="font-18 text-dark font-weight-lighter mb-15">地域医療支援病院<br>
        群馬県立心臓血管センター</h1>
      <h1 class="postal-code font-18 text-dark font-weight-lighter mb-15">〒 371-0004 群馬県前橋市亀泉町甲3-12</h1>
      <h1 class="phone-number font-18 text-dark font-weight-lighter mb-15">
        <img src="assets/images/phone.svg" alt="Phone">
         027-269-7455</h1>
      <h1 class="postal-code font-18 text-dark font-weight-lighter mb-15">担当医師：○○ ○○</h1>
    </div>
  </div>
</section>
