section {
  & > div:first-child {
    img {
      height: 30px;
    }
    border: 1px solid lightgray;
  }

  .institution-container {
    border: 1px solid lightgray;

    .phone-number {
      img {
        height: 20px;
      }
    }
  }
}
