<section class="mx-20 my-20 d-flex pt-50 row">
  <div class="doctor-image-wrapper d-flex justify-content-center col-12 col-lg-6">
    <img class="mx-auto" src="assets/images/doctor.png" alt="Doctor">
  </div>
  <div class="age-chart-wrapper d-flex flex-column justify-content-between py-100 col-12 col-lg-6">
    <div class="text-wrapper mx-auto">
      <span class="font-34"><span class="text-primary">60~74歳</span>の<span class="text-primary">2.8%、75歳以上</span>の<span class="text-primary">13.1%</span><br>
        がASと報告されています。</span>
    </div>
    <div class="chart-wrapper mx-auto d-flex position-relative justify-content-between align-items-center">
<!--      <img src="assets/images/age-chart-view.png" alt="Chart graph">-->
      <div class="chart-wrapper">
        <canvas baseChart
                [data]="doughnutChartData1"
                [labels]="doughnutChartLabels1"
                [chartType]="doughnutChartType1">
        </canvas>
      </div>
      <div class="chart-wrapper">
        <canvas baseChart
                [data]="doughnutChartData2"
                [labels]="doughnutChartLabels2"
                [chartType]="doughnutChartType2">
        </canvas>
      </div>
      <div class="font-10 text-right position-absolute">1. De Sciscio P, Brubert J, De Sciscio M, et al. Quantifying the Shift Toward Transcatheter<br>
        Aortic Valve Replacement in Low-Risk Patients: A Meta-Analysis.</div>
    </div>
  </div>
</section>
