a {
  &.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $crimson;
    height: 80px;
    font-size: 20px;
    color: white !important;
  }
}
