app-age-chart-mobile-section {
  display: none;
}
app-auscultation-mobile-section {
  display: none;
}

@media (max-width: 768px) {
  app-age-chart-section {
    display: none;
  }

  app-patient-section {
    display: none;
  }

  app-age-chart-mobile-section {
    display: block !important;
  }

  app-doctor-as-section {
    display: none;
  }

  app-pay-method-section {
    display: none;
  }

  app-auscultation-mobile-section {
    display: block;
  }
}
