<app-heart-video-section></app-heart-video-section>
<app-age-chart-section></app-age-chart-section>
<app-age-chart-mobile-section></app-age-chart-mobile-section>
<app-auscultation-mobile-section></app-auscultation-mobile-section>
<app-patient-section></app-patient-section>
<app-doctor-as-section></app-doctor-as-section>
<app-pay-method-section></app-pay-method-section>
<app-material-info-section></app-material-info-section>
<app-nearby-hospital-section></app-nearby-hospital-section>
<app-find-hospital-section></app-find-hospital-section>
<app-footer></app-footer>
