<section class="mx-15 mx-md-20 mt-25 position-relative">
  <div class="logo position-absolute">
    <a>
      <img src="assets/images/edwards-logo.svg" alt="Edwards Logo">
      <img src="assets/images/edwards-logo-mobile.svg" alt="Edwards Logo Mobile">
    </a>
  </div>
  <div class="heart-video-wrapper d-flex justify-content-center align-items-center position-relative">
    <video autoplay muted loop id="home-background-video">
      <source src="assets/images/HeartVideoEdit.mp4" type="video/mp4">
    </video>
    <div class="banner-container position-absolute">
      <div class="redbox home-parallax font-34 text-white text-left py-30 py-md-45 py-lg-60 py-xl-75 px-15 px-md-30 px-lg-45" data-rellax-percentage="0.5" style="transform: translate3d(0px, 11px, 0px);">
        <div class="pb-0">高齢化に伴い</div>
        <div class="pb-0">大動脈弁狭窄症(AS)の</div>
        <div class="pb-0">患者さんは増え続けています</div>
      </div>
    </div>
  </div>
</div>
<div>Edwards</div>
</section>
