section {
  background: #EDEEEE;

  .age-select-slider {
    img {
      width: 98%;
      margin-bottom: -36px;
    }
  }

  // We need to use ::ng-deep to overcome view encapsulation of ng5-slider
  ::ng-deep {
    .age-select-slider .ng5-slider .ng5-slider-bar {
      background: #CCCCCC;
      height: 28.22px;
      border-radius: 17.5px;
      box-shadow: inset 0px 1px 3px 1px rgba(0,0,0,0.6);
    }

    .age-select-slider .ng5-slider .ng5-slider-selection {
      background: orange;
    }

    .age-select-slider .ng5-slider .ng5-slider-pointer {
      background-image: url("/assets/images/age-slider-pointer.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 50px;
      width: 25px;
      border-radius: 0 !important;
      top: -12px;
      outline: none;
    }

    .age-select-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }

    .age-select-slider .ng5-slider .ng5-slider-floor {
      display: none;
    }

    .age-select-slider .ng5-slider .ng5-slider-ceil {
      display: none;
    }

    .age-select-slider .ng5-slider .ng5-slider-model-value {
      background-image: url("/assets/images/age-slider-model-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 62px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 28px;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: bolder;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  }

  .patient-number-viewer {
    .patient-number {
      div {
        a:first-child {
          font-size: 82px !important;
          font-weight: bolder;
          font-family: 'Merriweather Sans', sans-serif;
        }
      }
    }
  }

  .death-number-viewer {
    background: linear-gradient(90deg, #E2072D, #94262B);
    h1 {
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 90px;
      font-weight: bolder;
    }
    p {
      max-width: 200px;
    }
  }

  footer {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3692308px;
  }
}

@media (max-width: 370px) {
  .patient-number-viewer {
    padding-left: 10px !important;
  }
}
