<section class="mx-15 mt-15 position-relative p-15">
  <div class="section-title d-flex align-items-center justify-content-between">
    <h1 class="font-20 line-height-35">&#8212;</h1>
    <h1 class="font-20 line-height-35 text-center">Helpful Tool: In Your Practice</h1>
    <h1 class="font-20 line-height-35">&#8212;</h1>
  </div>
  <div class="question-input-wrapper mt-50">
    <h1 class="text-left font-22 line-height-35 font-weight-light">どれくらいの患者さんが大動脈弁狭窄症（AS）だと思いますか？</h1>
    <p class="text-left font-18 line-height-20 font-weight-light mt-20">1週間の内に見ている75歳以上の患者数を入れてみてください</p>
  </div>
  <div class="age-select-slider mt-0 mb-30 px-10 d-flex flex-column align-items-center">
    <img class="mt-120" src="assets/images/age-slider-ruler.png" alt="Slider ruler">
    <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
  </div>
</section>

