<footer class="bg-color-gallery py-40">
  <div class="container text-center text-dark">
    <h5 class="font-weight-bold mb-30">本キャンペーンに関するお問合せ</h5>
    <h6 class="font-weight-bold mb-15">大動脈弁狭窄症に関する資料発送事務局</h6>
    <div class="d-flex justify-content-center align-items-center mb-40">
      <div class="d-flex align-items-center">
        <div class="mr-10"><img src="assets/images/phone.svg" alt="Phone"></div>
        <span class="font-32">0120-873-025</span>
      </div>
      <div class="ml-25">
        <p class="font-weight-bold mb-0">受付：平日9：00～17：00</p>
      </div>
    </div>

    <ul class="d-flex justify-content-center mb-40 color-black">
      <li>プライバシーポリシー</li>
      <li class="ml-50">サイトのご利用について</li>
    </ul>
    <p class="font-merriweather color-black">2020 Edwards Lifesciences Corporation. All rights reserved. EWXXXXX</p>
  </div>
</footer>
